@line_height: 1.3rem;
@header_height: @line_height;

:root {
	/* Used as the background color of the body */
	/* Used as the text color for the borg screen of death */
	/* Used as the text color for selected tabs (also if they are selected) */
	--color-bg: #ffffff;
	/* Background color for man messages */
	--color-man-bg: #EDF3FF;
	/* Used as the background color for the header bar */
	/* Used as the line color between log messages */
	--color-header-bg: #eeeeee;
	/* Used as the background color of the line that shows the builder (below the header) */
	--color-builder-bg: #FFFAAF;

	/* Used as background color for the selected header tab if it is not focused */
	/* Used as the foreground color for the header bar */
	/* Used for unclicked links. */
	--color-tab-selected: #005FFF;
	/* Used as the background color for non-selected tabs */
	/* Used as the background color for hovered, focused or active links */
	--color-tab-unselected: #AFFFFF;
	/* Used as the background color of the focused tab */
	--color-tab-focus: #DC00B8;
	
	/* Used as the default text color of the body */
	--color-text: #000000;
	/* Used as the text color for ofborg and stomp messages */
	/* Used as the color for the message that you require js */
	/* Used as the text color of the line that shows the builder (below the header) */
	--color-info: #00000080;
	/* Used as text color for error messages */
	--color-error: #BA3300;

	/* Used as the left border color for borg messages, like man or system information */
	/* Used for background of the borg screen of death */
	--color-borg: #2D8F34;
	/* Used as the left border color for man messages */
	--color-man: #424775;
	/* Used as the text color for stompjs debug messages */
	/* Used for visited links */
	--color-debug: #8F2D87;
}

#no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

body {
	color: var(--color-text);
	background-color: var(--color-bg);
	margin: 0;
	padding: 0;
	line-height: @line_height;
	font-family:
		"Go Mono",
		"DejaVu Sans Mono",
		"Lucida Console",
		"monospace"
	;
}

.bsod {
	background: var(--color-borg);
	color: var(--color-bg);
	white-space: pre;
}

.loading {
	strong {
		display: block;
	}
	em {
		color: var(--color-info);
	}
}

.app {
	margin: 0;
}

.app > header {
	background: var(--color-header-bg);
	color: var(--color-tab-selected);
	height: @header_height;
	z-index: 10;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;

	// Temp fix for overflowing tabs.
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;

	ul {
		// The JS app will need to add appropriate text-indent when showing a tab.
		//text-indent: -100px;
		// Text-indent shouldn't then apply to the included elements.
		& > * {
			text-indent: initial;
		}
	}

	// .__active is handled by the JS app.
	// This unwraps the tabs bar.
	// The JS app will need to text-indent appropriately to make the tab shown when !&.__active
	&:hover, &.__active {
		height: auto;
		white-space: normal;
		ul {
			text-indent: 0;
		}
	}

	ul, ul > li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	ul > li {
		display: inline-block;
		background-color: var(--color-tab-unselected);
		margin-right: 1em;
	}
	li > * {
		position: relative;
		#no-select();
		cursor: pointer;

		// Input is hidden, but through opacity and position.
		// Otherwise, it won't be keyboard-interactable.
		input {
			opacity: 0;
			height: 1px;
			width: 1px;
			position: absolute;
			top: 0;
			left: 0;
		}
		padding-left:  0.5em;
		padding-right: 0.5em;
		display: block;
		color: inherit;
		text-decoration: inherit;
	}
	li {
		&:focus, &.__focus {
			color: var(--color-bg);
			background-color: var(--color-tab-focus);
		}
	}

	.selected {
		color: var(--color-bg);
		background-color: var(--color-tab-selected);
	}
}

.app > .logs {
	& > :not(.selected) {
		display: none;
	}
}

// A logger pane.
.logger-log {
	@left_border: 1em;

	// Makes it mostly behave like pre.
	// But with more wrapping.
	white-space: pre-wrap;
	word-wrap: break-word;

	// All lines.
	& > * {
		border-bottom: 0.05em solid var(--color-header-bg);
		padding-left: @left_border;
		min-height: @line_height;
	}

	a {
		color: var(--color-tab-selected);
		text-decoration: underline;
		&:hover, &:focus, &:active {
			background-color: var(--color-tab-unselected);
		}
		&:visited {
			color: var(--color-debug);
		}
	}

	// Specially tagged messages.
	.ofborg, .stomp, .man {
		border-left: @left_border/2 solid transparent;
		padding-left: @left_border/2;
	}
	.ofborg, .stomp {
		color: var(--color-info-fg);
	}

	// And their (tagged) colors.
	.ofborg {
		border-left-color: var(--color-borg);
	}
	.stomp {
		border-left-color: var(--color-debug);
	}
	.stderr {
		color: var(--color-error);
	}
	.man {
		border-left-color: var(--color-man);
		background-color: var(--color-man-bg);
	}

	// The previous bits of logs.
	&.backlog {
	}

	// The "live" part of the logs.
	&.newlog {
		// Adds sensible spacing at the bottom of the screen.
		padding-bottom: 0.7em;
	}

	a.truncated {
		display: block;
		animation-name: flash;
		animation-duration: 0.8s;
		animation-fill-mode: both;
		animation-timing-function: ease-in-out;
	}
}

.logger .identity {
	z-index: 1;
	background: var(--color-builder-bg);
	color: var(--color-info);
	min-height: @line_height;
	position: sticky;
	top: @header_height;
	left: 0;
	right: 0;
}

@keyframes flash {
	@low: 0.1;

	0%    {opacity: @low;}
	16.6% {opacity: 1;}
	33.3% {opacity: @low;}
	50%   {opacity: 1;}
	66.6% {opacity: @low;}
	100%  {opacity: 1;}
}
